.container {
    display: inline-block;
    width: 100%;
}

.pager a {
    margin: 0 3px;
    text-decoration: none;
    color: blue;
}

.menu ul {
    list-style: none;
}

    .menu ul li {
        float: left;
        margin: 0px 10px;
    }


        .menu ul li a {
            text-decoration: none;
            color: white;
            font-size: 16px;
            background-color: #9398b8;
            padding: 10px;
            border-radius: 5px;
        }

    .tabControl .tabControlHeader {

        width: 30%;
    }

    .tabControl .tabNavButton {
        border: none;
        height: 30px;
        width: 80%;
        padding: 5px;
        margin: 10px;
        margin-right: 30px;
        font-size: 14.5px;
    }

input.tabNavButton {
    background-color: #9398b8;
    color: white;
}

.tabControl .tabPage {
    display: block;
}

.grid {
    display: inline-block;
    width: 100%;
    margin: 12px;
    padding: 5px;
}

    .grid input[type=text] {
        width: 300px;
    }

    .grid input[type=password] {
        width: 300px;
    }

    .grid .row {
        display: inline-block;
        width: 100%;
        margin: 2px 0px;
    }

        .grid .row .col-1 {
            float: left;
            width: 150px;
        }

        .grid .row .col-2 {
            float: left;
            width: 300px;
        }

        .grid .row .col-3 {
            float: left;
            width: 450px;
        }

.field-validation-error {
    color: red;
}

.left {
    float: left;
}

.right {
    float: right;
}

.red {
    color: red;
}

.b {
    font-weight: bold;
}

btn {
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    color: blue;
    font-size: 15px;
}

fieldset {
    margin: 12px;
}

.far {
    color: #616791;
}

.fa {
    color: #616791;
}
div#tabComments {
    width: 100%;
}